*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Montserrat';
  background-color: #010101;
}

h1 {
  color:white;
  clear: both;
}

h2 {
  clear:both;
}

li{
  color: white;
}

html {
  scroll-behavior: smooth;
}

.github{
  padding: 50px;
}

.textFinal{
  padding: 50px;
  margin-right:25%;
  margin-left:25%;
}

a{
  text-decoration: none;
}




.divgit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.soon{
  padding-bottom: 500px;
  letter-spacing: 50px;
}


.navbar-nav {
  flex-direction: row;
}

.navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  font-size: 20px;
  margin-left: 40px;
}

.navbar-brand {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main h1 {
  font-size: 70px;
  margin-bottom: 20px;
  text-align: center;
}

.texth1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 50px;
}

.main h2 {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  display: block;
}

.texth1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 50px;
}

.project {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* ajouter cette ligne pour que les éléments soient alignés verticalement */
}

.project-img {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.project-img img {
  max-width: 80%;
  border-radius: 5%;
}

.project-text {
  width: 100%; 
}

.col-md-6{
  display: flex;
  align-items: center;
}

img{
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-overlay {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}


p{
  color: white;
  font-size: 20px;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

footer h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul.social-media li {
  display: block;
  margin-right: 10px;
}

footer ul.social-media li a i {
  font-size: 24px;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ccc;
}


@media screen and (max-width: 768px) {
  .project {
    flex-direction: column;
  }
  
  .project-img img {
    width: 100%;
  }
  
  .project-text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 1596px){
  .nav-link{
      font-size: 20px;
  }

  .test{
      width: 70%;
  }



  
}

@media screen and (max-width: 1455px){
  .nav-link{
      font-size: 18px;
  }

  
}

@media screen and (max-width: 1361px){
  .nav-link{
      font-size: 17px;
  }
}

@media screen and (max-width: 1070px){
  .nav-link{
      font-size: 15px;
  }

  .test{
      width: 60%;
  }
}

@media screen and (max-width: 820px){
  .nav-link{
      font-size: 10px;
  }

  .test{
      width: 20%;
  }
}